{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
<div>
    <form name="create_page" action="{% url 'new_page' %}" method="post">
        {% csrf_token %}
    <div>
        <div><label for="titlebox">Title of the page:</label></div>
        <input id="titlebox" name="title" placeholder="Enter the page name">
    </div>
    <p></p>
    <div>
        <div><label for="textbox">Content of the page:</label></div>
        <textarea id="textbox" name="text">testi</textarea>
    </div>
    <input type="submit" value="submit">
    </form>
</div>
{% endblock %}